<?php

// Rename to config.php and add your own values.

$config['KANBANIZE']['API_KEY'] = '';
$config['KANBANIZE']['SUBDOMAIN'] = '';
// Specify as many boards as needed.
$config['KANBANIZE']['BOARDS'] = array(2);

// Each of the SLACK_ORGS must have at least one destination channel/filter.
$config['SLACK_ORGS']['my_org']['WEBHOOK_URL'] = '';
$config['SLACK_ORGS']['my_org']['DESTINATIONS'] = array(
  // Send everything to #my-channel
  '#my-channel' => new Filter_Everything(),

  // Send items from board 4 to #other-channel
  '#other-channel' => new Filter_Board(4),

  // Send others' changes to items assigned to me to my personal channel.
  '@username' => new Filter_And(
    new Filter_Kanbanize_Assignee('username'),
    new Filter_Not(new Filter_Kanbanize_Author('username'))
  ),
);
